/* all tag */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* background to body */
body {
  background-color: #f6f6f6;
  /* overflow: hidden; */
}

/* header tag  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdebcb;
}

/* navbar */
.navbar {
  max-width: 1300px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  padding: 0 20px;
}

/* website name */
.navbar p {
  font-size: 1.2rem;
  font-weight: 600;
}

/* website icon(humberger menu, cart) */
.navbar i {
  color: #ff7b00;
  cursor: pointer;
}

/* cart icon */
.cart-btn {
  position: relative;
  cursor: pointer;
}

/* badge count item in cart */
.cart-item {
  position: absolute;
  bottom: 17px;
  left: 17px;
  background-color: #b11d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 23px;
  height: 21px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}

/* end header(navbar) */

/* title tag products */
.title {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-shadow: 4px 4px 5px gray;
}

/* container products */
.products-container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* container product */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 80px;
  row-gap: 80px;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

/* every product */
.product {
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 10px gainsboro;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.15s linear;
}

/* every product in hover */
.product:hover {
  transform: translateY(-10px);
  transition: all 0.3s linear;
}

/* image of every product */
.product img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* information of every product */
.information {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-size: 18px;
}

/* price of every product */
.information .price {
  color: #ff5100;
}

/* btn add to cart of every product */
.product .addToCart {
  text-decoration: none;
  background-color: #ffecc7;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  display: inline-block;
  margin: 8px 0 15px;
  color: #ff9100;
  transition: all 0.1s linear;
}

/* btn add to cart when hover of every product */
.product .addToCart:hover {
  background-color: #ff9100;
  color: #fff;
  transition: all 0.2s linear;
}

/* icon in btn add to cart */
.fa-shopping-cart {
  margin-right: 5px;
}

/* end section products */

/* website footer  */
.footer {
  margin-top: 100px;
  background-color: rgb(209, 209, 209);
  height: 70px;
  text-align: center;
  line-height: 70px;
}
/* name website designer */
.footer .designer {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* end footer */

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 5;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  background-color: #fff;
  transform: translateY(-150%);
  z-index: 10;
  position: absolute;
  transition: all 0.3s linear;
}

.title-cart {
  margin: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 15px;
  align-items: center;
}

.cart-item-img img {
  width: 110px;
  height: 60px;
  border-radius: 5px;
}

.cart-item-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart-item-name {
  margin-bottom: 8px;
  font-weight: 600;
}

.cart-item-price {
  color: #707070;
}

.fa-chevron-up {
  color: #009000;
  cursor: pointer;
}

.fa-chevron-down {
  color: #ff3300;
  cursor: pointer;
}

.fa-trash {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-footer {
  margin: 30px 0;
}

.clear-cart {
  margin-right: 5px;
  margin-left: 40px;
  border: 0.5px solid #ff452c;
  background-color: #fff;
  color: #ff452c;
  padding: 8px 15px;
  transition: all 0.2s linear;
}

.clear-cart:hover {
  background-color: #ff452c;
  color: #fff;
}

.clear-cart,
.confirm-cart {
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  font-weight: 600;
}

.confirm-cart {
  padding: 9px 16px;
  background-color: #b9ff9e;
  color: #009000;
  border: 1px solid #009000;
  transition: all 0.2s linear;
}

.confirm-cart:hover {
  background-color: #18a000;
  color: #fff;
}

@media only screen and (max-width: 450px) {
  .cart-modal {
    width: 90vw;
  }

  .cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 15px;
    align-content: space-between;
  }

  .cart-item-img img {
    width: 90px;
    height: 50px;
    border-radius: 5px;
  }

  .cart-item-information {
    font-size: 0.8rem;
  }

  .cart-item-conteoller {
    font-size: 0.8rem;
  }

  .fa-trash {
    font-size: 1rem;
  }

  .cart-footer {
    display: grid;
    margin: 20px;
  }

  .clear-cart {
    margin: 1.1rem 0 0;
  }
  .confirm-cart {
    margin-top: 0.5rem;
  }

  .navbar i {
    font-size: 1.4rem;
  }

  .cart-item {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 19px;
    height: 18px;
    font-size: 14px;
  }

  .title {
    height: 150px;
    font-size: 2.2rem;
  }
}
